.inputsContainer{
    margin: 30px 70px;

    div{
        display: flex;
        justify-content: space-between;
        width: 40%;
        margin-bottom: 5px;

        input{
            width: 65%;
        }
    }
}

#productSpec{
    display: unset;
    width: unset;
    margin: unset;
}

.error{
    background-color: #cc0000;
    padding: 5px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.92);
    letter-spacing: 0.5px;
    display: none;
}