*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.5rem;
}

header{
    margin: 30px 25px 10px;

    div{
        display: flex;
        justify-content: space-between;
        align-items: center;

        form {
            margin: 0 10px 0 0;

            input {
                padding: 3px 4px;
                border-radius: 0;
                box-shadow: 1px 1px black;
            }
        }
    }
}

hr{
    width: 98%;
    margin: auto;
}

footer{
    position: absolute;
    margin: 1%;
    width: 98%;
    bottom: 0;
    border-top: 1px solid grey;
    text-align: center;
    padding-top: 20px;
}