.class-border{
    display: inline-block;
    width: 240px;
    margin: 30px 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

.class-productInfo{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.productFormContainer{
    position: relative;
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}